<!-- 列表页 -->
<% include header %>

<div id="content">
	<div class="layout ptb_20">
		<div class="bj_fff">
			<div class="er_title">
				<span class="fr">您现在的位置：
					<a href="/">首页</a>>
					<a href="<%=items._id%>"><%=city.name%></a>
				</span>
				<i class="i0"></i>
				<span class="t">精品文章</span>
			</div>
			<div class="line_er"></div>
			<div class="ma_15 ov_hi">
				<ul class="tw_il">
					<% articles.forEach(function(data1){ %>
						<li>
							<a href="/article/<%=data1._id%>"><img src="/<%=data1.imgurl%>" /></a>
							<h2><a href="/article/<%=data1._id%>"><%=data1.title%></a></h2>
							<div class="txt"><%-data1.description%></div>
							<p class="time"><%=data1.ctime.toLocaleString()%></p>
						</li>
					<%})%>
				</ul>
				<div class="clear"></div>
				<div class="fy_box">
					<a href="#"><<</a>
					<a href="#" class="hover">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">>></a>
				</div>
			</div>
		</div>
	</div> 
</div>

<% include footer %>